body{
    margin: 0;
    padding: 0;
}
#right-side{
    float: left;
    width: 60%;
    height: 120%;
    
}
#right-side img{
    width: 30%;
    height: 30%;
	border:5px solid gray;
}
#left-side{
    
    
    float: left;
    width: 40%;
    height: 120%;
    background-color: white;
    
}
