body{
    margin: 0;
    padding: 0;
}
#left-side{
    float: left;
    width: 35%;
    height: 100%;
    
}
#left-side img{
    width: 100%;
    height: 100%;
	border:5px solid gray;
}
#rigth-side{
    display: flex;
    align-items: center;
    float: left;
    width: 65%;
    height: 100%;
    background-color: black;
    
}
p{
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-size: 25px;
	
}
small{ 
    font-size: 40px;
	color: red
}
